<a href="https://colab.research.google.com/github/shoaib646/Credit-Card-Eligibility/blob/main/Mumbai_Plot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mumbai is one of the most populous metropolitan city in India with an ever-increasing population of over 20M. It is also considered as the economic capital of India due to the presence of a large number of industries and organization head quarters within the city. As a result, people from all over the country move to Mumbai with various prospects of studies and jobs and that makes the real estate sector boom with sky rocketing prices of apartments to rent or lease.

In this project, we will try to analyze the apartments in Mumbai for rent or sale in 2020 and draw conclusions based on some predefined conditions and predict the budget to buy a house in Mumbai.

Condition
* 1.I want to understand what are the rates of the properties in order to decide on her budget.
* 2.The apartment should be within 5kms radius of Mumbai International Airport (as she works at the airport).*
* 3.The apartment should be near the beach and sea facing.*
* 4.Finally, I also wanted to find the fastest route to the Mumbai Naval Dockyard as my employer works there.*

In [1]:
import folium

In [2]:
import pandas as pd
import numpy as  np
import matplotlib
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('prop_data_clean.csv')

In [4]:
df.drop(['city','desc','dev_name','post_date','poster_name','project','title','url','user_type'],axis=1, inplace=True)

In [5]:
df.drop('bathroom_num',axis=1, inplace=True)

In [6]:
df['floor_count'].fillna(abs(np.round(df.floor_count.mean())), inplace=True)

In [7]:
df['floor_num'].fillna(abs(np.round(df.floor_num.mean())), inplace=True)

In [8]:
df.head(1)

,area,bedroom_num,floor_count,floor_num,furnishing,id,id_string,latitude,locality,longitude,price,trans,type
0,350.0,1,17.0,9.0,Unfurnished,45349857,domcache_srp_45349857,19.201336,Malad West,72.825882,9000,Rent,Apartment

In [9]:
df1 = df[['latitude','longitude']].values.tolist()

In [10]:
map = folium.Map(location=[19.201335906982425, 72.82588195800781], zoom_start=20)
fg = folium.FeatureGroup(name='plot')

for i in df1:
    fg.add_child(folium.Marker(location=[i[0], i[1]],popup=df['locality'].values,icon=folium.Icon(color='green')))
map.add_child(fg)
map.save('tr.html')